<html>
    <body>
        <form action="/result" method="GET">
            <input type="text" name="search" placeholder="Search videos" />
            <button>Submit</button>
        </form>
    </body>
</html>